/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
/vendor/assets/components
/public/assets
.ruby-version
/config/database.yml
.idea/

# Ignore application configuration
/config/application.yml
