<div id="slider">
  <% Screenshot.all.each do |screenshot| %>
    <div data-src="<%= image_path(screenshot.image) %>" data-alignment="topLeft">
      <div class="camera_caption">
        <h4><%= screenshot.project.name %></h4>
        <%= screenshot.description %>
       </div>
    </div>
  <% end %>
</div>