<div id="slider">
  <% Screenshot.all.each do |screenshot| %>
    <div data-src="<%= image_path(screenshot.image) %>">
      <div class="camera_caption"><%= screenshot.description %></div>
    </div>
  <% end %>
</div>