<% content_for :title, "O mnie" %>

<div class="panel panel-default">
  <div class="panel-heading">Kontakt</div>
  <div class="panel-body">
    <p><b>Email: </b> <%= mail_to "michal.janeczek@ymail.com" %></p>
    <p><b>Skype: </b> michal-janeczek</p>
    <p><b>Github: </b> <a href="https://github.com/mjaneczek">mjaneczek</a></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Doświadczenie zawodowe</div>
  <div class="panel-body">
    <p>
      <b>WISP Group</b>
      <span class="clearfix">03.2012 – 06.2012 (zdalnie)</span>
      <span class="clearfix">Programista C# - WPF (MVVM), NUnit</b>
    </p>
    <p>
      <b class="clearfix">Mercomp</b>
      <span class="clearfix">03.2013 - 09.2013 (zdalnie oraz na miejscu)</b>
      <span class="clearfix">Programista C# - WPF / ASP.NET MVC</span>
      <span class="clearfix">Programista RoR (od czerwca 2013)</span>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Jak zostałem programista</div>
  <div class="panel-body">
    <p>
      Swoją przygodę z programowaniem rozpocząłem w grudniu 2009 (jako 14-latek), w prostym języku skryptowym pewnej gry.
      Od grudnia 2011 postanowiłem zmienić podejście i przygotować się do pracy zawodowej, 3 miesiące później
      rozpocząłem swoją pierwszą komercyjną pracę. 
    </p>
    <p>
      Obecnie rozwijam się poznając piękno dynamicznego języka programowania Ruby w Ruby on Rails.
      Staram się nie zapominać o poczciwym .NET, który również był częścią mojego programowania przez długi czas,
      jednak dziś raczej bliższe mojemu sercu jest Ruby niż .NET.
    </p>
  </div>
</div>