<% content_for :title, "Home" %>

<%= render "slider" %>

<h2>Witaj na stronie głównej!</h2>
<p class="lead">
  Zachęcam do przeglądania oraz komentowania zamieszczonych tu prac.</br>
  W przypadku potrzeby kontaktu zapraszam na podstronę "O mnie".
</p>

<div class="panel panel-primary">
  <div class="panel-heading">Ostatnio dodany projekt</div>
  <a href="#">2013-08-04 | Michał Janeczek - Portfolio</a>
</div>