<% content_for :title, "Home" %>

<div class="row">
  <div class="col-lg-2" id="left_menu">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a>Ostatnie projekty:</a></li>
      <% left_menu.get_items.each do |item| %>
      <li class="menu-item"><%= link_to item[:name], item[:path] %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-10" id="content">
    <%= render "slider" %>

    <h2>Witaj na stronie głównej!</h2>
    <p class="lead">
      Zachęcam do przeglądania oraz komentowania zamieszczonych tu prac.</br>
      W przypadku potrzeby kontaktu zapraszam na podstronę "O mnie".
    </p>

    <% if @last_project %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Ostatnio dodany projekt</h3>
      </div>
      <div class="panel-body">
        <%= link_to "#{@last_project.created_at.strftime("%d-%m-%Y") } | #{@last_project.name}", project_path(@last_project) %>
      </div>
    </div>
    <% end %>
  </div>
</div>