<% content_for :title, @project.name %>

<div class="well">
  <% @project.technologies.each do |technology| %>
    <%= tag_for(technology.name, technology.css_class, technology_path(technology)) %>
  <% end %>
</div>

<div class="spacer">
  <%= @project.full_description.html_safe %>
</div>

<% if @project.screenshots.count > 0 %>
  <div class="panel panel-primary">
    <div class="panel-heading">Screenshots</div>
    <div class="panel-body">
      <% @project.screenshots.each do |screnshot| %>
        <a class="fancybox" href="<%= image_path(screnshot.image) %>">
          <%= image_tag(screnshot.image, alt: screnshot.description, size: "270x200") %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>