<% content_for :title, @project.name %>

<div class="well">
  <% @project.technologies.each do |technology| %>
    <%= tag_for(technology.name, technology.css_class, technology_path(technology)) %>
  <% end %>
</div>

<div>
  <%= @project.full_description %>
</div>