.page-header,
.page-header h1 {
  margin-top: 0px;
}

.menu-item a {
  background-color: rgb(220, 220, 220)
}

.nav-pills > li + li {
  margin-left: 0px !important;
}

.footer p {
  text-align: center;
}