h1.title {
  margin-top: 0;
}

body nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 53px;
  width: 100%;
}

#content {
  padding-top: 83px;
  padding-bottom: 279px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  position: relative;
}

footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .footer-banner {
    min-height: 0px !important;
    a {
      text-decoration: none !important;
    }
  }

  .links{
    margin-top: 15px;

    a {
      margin-right: 10px;
    }
  }

  .copyright {
    margin-top: 15px;
  }
}
