footer {
  margin-top: 50px;

  .footer-banner {
    min-height: 0px !important;
  }

  .links{
    margin-top: 15px;

    a {
      margin-right: 10px;
    }
  }

  .copyright {
    margin-top: 15px;
  }
}
