.technologies-header {
  position: relative;
  background: #1abc9c;
  background-size: 16px 16px;
  border-radius: 6px 6px 0 0;
  color: #34495e;
  padding: 19px 25px 20px;
}

.todo li {
  background-image: url('') !important;
}
.todo li.todo-done {
  background-image: url('') !important;
}

.pallete-item {
  width: auto !important;
}
