<% content_for :title, @technology.name %>

<div class="row">
  <div class="col-md-8">
    <%= @technology.full_description %>
  </div>
  <div class="col-md-4">
    <div class="list-group">
      <a class="list-group-item active">Powiązane projekty:</li>
      <% @technology.projects.each do |project| %>
        <%= link_to project.name, project_path(project), class: "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>